footer#footer
    hr
    .container
        .row
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                ul.adress
                    h6 Masan Maalaus ja Tapetointi
                    li
                        p
                        |  Rautatieläisenkatu 12
                    li
                        p
                        |  00520 Helsinki
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                ul.contact
                    h6 Ota Yhteyttä
                    li
                        p
                        i.fas.fa-phone
                        |  +358 50 3331234
                    li
                        p
                        i.fas.fa-envelope
                        |  masa@masanmjat.fi
