nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/')
        img.navbar-logo(src='/images/masa-logo.png', alt='')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item(class=title==='Värikokeilu'?'active':undefined)
                a.nav-link(href='/varikokeilu') Värikokeilu
            li.nav-item(class=title==='IoT'?'active':undefined)
                a.nav-link(href='/iot') IoT
.nomarginhr