extends layout

block content
  .container
    .jumbotron
      .col-sm-8.mx-auto
        h1 Masan Maalaus & Tapetointi
        p
          | This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a
          code .container
          | . For positioning of navbars, checkout the
          a(href='../navbar-top/') top
          |  and
          a(href='../navbar-top-fixed/') fixed top
          |  examples.
        p
          | At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.
        p
          a.btn.btn-primary(href='../../components/navbar/', role='button') View navbar docs &raquo;