extends layout

block content
  .container.padding
    .jumbotron.jumbotron-fluid
      .container#front-hero
        h1.display-4 Masan Maalaus & Tapetointi
        p.lead
          a.btn.btn-primary(href='/varikokeilu', role='button') Kokeile värejä