extends layout

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-full.min.js')
    script(type='text/paperscript', src='js/varikokeilu.js', canvas='myCanvas')
    .container
        .col-sm-8.mx-auto.longboye
            h1 Tervetuloa värikokeiluun!
            canvas#myCanvas

