extends layout

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-full.min.js')
    script(type='text/paperscript', src='js/varikokeilu.js', canvas='myCanvas')
    .container
        .col-sm-8.mx-auto
            h1.padding Tervetuloa v채rikokeiluun!
            .card
                .card-body
                    | Ohje: Aloita valitsemalla jokin kolmesta huoneen osasta. Sen j채lkeen valitse osalle haluamasi v채ri.
                    | Voit poistaa valinnan painamalla osaa uudelleen, kun se on valittuna.
            canvas#myCanvas(height=360,width=450)
            button.btn.btn-light#resetoi(type='button') Poista v채rivalinnat
